[Unit]
Description=Gitea cgit adapter
After=postgresql.target

[Service]
Type=simple
User=gitea
ExecStart=/opt/gitea-cgit-adapter/env/bin/python run.py /etc/gitea/app.ini /etc/cgitrepos
WorkingDirectory=/opt/gitea-cgit-adapter

[Install]
WantedBy=multi-user.target
